<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis</title>
</head>
<body>
    <h1>Sentiment Analysis Web App</h1>
    <form method="post" action="/predict">
        <label for="text">Enter text:</label>
        <textarea id="text" name="text" rows="4" cols="50"></textarea>
        <br>
        <button type="submit" name="prediction_method" value="MultinomialNB">Predict using MultinomialNB</button>
        <button type="submit" name="prediction_method" value="BERT">Predict using BERT</button>
    </form>

    {% if prediction %}
        <h2>Sentiment Prediction:</h2>
        <p>{{ prediction }}</p>
        <h2>Entered Text:</h2>
        <p>{{ text }}</p>
    {% endif %}
</body>
</html>
